etc/xsd/countries.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name = 'countries'>
      <xs:complexType>
         <xs:sequence>
             <xs:element name = 'country' type = 'CountryType' minOccurs = '0' maxOccurs = 'unbounded' />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:complexType name = "CountryType">
      <xs:attribute name = 'id' type = 'xs:integer'/>
      <xs:attribute name = 'name' type = 'xs:string'/>
   </xs:complexType>			 
</xs:schema>