etc/xsd/hotels.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name = 'hotels'>
      <xs:complexType>
         <xs:sequence>
             <xs:element name = 'hotel' type = 'HotelType' minOccurs = '0' maxOccurs = 'unbounded' />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:complexType name = "HotelType">
      <xs:attribute name = 'id' type = 'xs:integer'/>
      <xs:attribute name = 'name' type = 'xs:string'/>
      <xs:attribute name = 'regionID' type = 'xs:integer'/>
      <xs:attribute name = 'rank' type = 'xs:string'/>
      <xs:attribute name = 'food' type = 'xs:string'/>
   </xs:complexType>			 
</xs:schema>